$container-bg: #e9edf3;

// color
$blue-200: #8dc9fa;
$blue-300: #4e98d6;
$blue-400: #005BAC !default;
$blue-500: #0c2e8a;
$orange:    #8e4534 !default;
$yellow:    #ffff54 !default;
$white: #fff;
$color-red-error: rgb(247, 91, 89);
$green: rgb(9, 209, 9);

$gray-100: #f1f1f1 !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Font size
$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-base: 14.5px !default;
$font-size-large: 120%;
$font-size-medium: 90%;
$font-size-small: 80%;

